/* AdminDashboard.css */
/* 
body {
  background-image: url("/Dance9.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
} */

@import url("https://fonts.googleapis.com/css2?family=Kavoon&display=swap");

.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* <-- vertically center */
  height: 100vh; /* full height of screen */
  font-family: "Poppins", sans-serif;
}

.welcome-page h2 {
  font-size: 2rem;
  color: #263d5e;
  margin-top: 10px;
  font-family: "Kavoon", cursive;
}

.form-card {
  background: white;
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
}

select {
  margin-top: 5px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #2ecbfa;
  color: white;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #21b9e3;
}
